@model Tuple<User, List<role>>
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.EmailAddress)
        </dd>
    </dl>
    <div class="form-group">
        <form asp-action="ChangeRole" asp-controller="Users" method="post">
            <label>Select Role</label>
            <select name="Role" class="form-control">
                @foreach (role role in Model.Item2)
                {
                    int ID = role.ID;
                    string Name = role.Name;
                    if (Model.Item1.ID == ID)
                    {
                        <option value="@ID" selected>@Name</option>
                    }
                    else
                    {
                        <option value="@ID">@Name</option>
                    }
                }
            </select>
            <input name="UserID" value="@Model.Item1.ID" type="hidden"/>
            <input type="submit" value="Change role"  class="btn btn-primary" />
        </form>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Item1.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
